@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */
/* ---- */
body {
  background-color: #1e172b;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
}

#header {
  background-color: black;
  font-size: medium;
  font-family: "Monomaniac One", sans-serif;
  color: white;
}

.imglogo {
  width: 200px;
}

.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: rgba(139, 124, 233, 0.8156862745);
  transition: background-color 0.3s ease;
}

nav a {
  color: white;
}

footer {
  background-color: #16132e;
  padding-top: 5%;
  text-align: center;
  padding-bottom: 0%;
  margin-bottom: 0%;
  color: white;
  font-family: "Montserrat", sans-serif;
}
footer .contact-info p {
  margin-bottom: 1rem;
}

.footer-nav ul {
  text-align: center;
  margin: 2% 2%;
  color: white;
  list-style: none;
  padding: 0%;
}
.footer-nav li {
  color: white;
  display: inline;
  text-decoration: none;
  list-style: none;
}
.footer-nav a {
  list-style: none;
  text-decoration: none;
  margin: 0.4%;
  color: aliceblue;
  font-family: "Monomaniac One", sans-serif;
  font-weight: 100;
}

.copyright {
  padding-bottom: 2%;
  margin-bottom: 0%;
}

.social-media {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 2% 2%;
}

.social {
  width: 30px;
}

/* Index */
.containerport {
  padding-top: 0%;
  width: 100%;
  height: 500PX;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(95deg, rgba(34, 12, 60, 0.726) 0%, rgba(91, 12, 40, 0.521) 100%), url(../image/Portadacorrecta.png);
}
.containerport .titlenov {
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
.containerport .button-portada {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1.5rem;
}
.containerport .button-portada:hover {
  background-color: #000;
  color: #fff;
}

.div-imgnov {
  display: grid;
  grid-template-columns: 1fr;
}
.div-imgnov .imgnovedades {
  width: 100%;
  border: solid #593194 2pt;
  transition: 1s;
}
.div-imgnov .imgnovedades:hover {
  transform: scale(1.05);
}

.div-pnov .tittlegame {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin: 5%;
  font-weight: 600;
}
.div-pnov .tittlegame2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin: 5%;
  font-weight: 600;
}
.div-pnov .txt {
  margin: 5%;
  text-align: center;
  font-size: 1.7rem;
  padding-bottom: 5%;
}

/* Juegos */
.wabecatalogo {
  background-color: #1b102c;
}

#catalogo {
  background-color: #1b102c;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem 0 40rem 0;
  justify-items: center;
  gap: 1%;
  color: white;
}
#catalogo .games-p1 .games {
  border: solid rgba(59, 8, 70, 0.527);
  width: 250px;
  height: 400px;
  transition: 1s;
}
#catalogo .games-p1 .games:hover {
  transform: scale(1.05);
}
#catalogo .games-p1 .tittle-game-catalogo {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

.gametitle {
  font-size: 2rem;
  padding: 5%;
  text-align: center;
  font-family: "Monomaniac One", sans-serif;
}

#contentgame {
  display: grid;
  grid-template-columns: 1fr;
}
#contentgame .container-img {
  width: 100%;
  height: auto;
}
#contentgame .container-img .imagegame {
  width: 100%;
  border: solid rgb(122, 122, 122);
}
#contentgame .infogame {
  text-align: center;
  margin: 5%;
}
#contentgame .container-req {
  text-align: left;
}
#contentgame .tecnicfix {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 500;
}
#contentgame .extracontent {
  text-align: center;
}
#contentgame .extracontent .description {
  font-family: "Monomaniac One", sans-serif;
  font-size: x-large;
  padding-bottom: 1rem;
}

.trailer {
  text-align: center;
  font-family: "Monomaniac One", sans-serif;
  font-size: 2rem;
}

iframe {
  height: 500px;
  width: 800px;
}

.iframe {
  display: flex;
  justify-content: center;
  margin: 5%;
}

/* Software */
#port-soft {
  margin: 2rem;
  display: grid;
  grid-template-areas: "port-text-soft img-webcam";
  grid-template-columns: 1fr 1fr;
}
#port-soft .port-text-soft {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#port-soft .port-text-soft .button-portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #593194;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
#port-soft .port-text-soft .button-portada:hover {
  background-color: #472776;
}
#port-soft .port-text-soft .textsoftware {
  text-align: center;
  font-size: large;
  margin: 5%;
}
#port-soft .img-webcam .webcam {
  padding-top: 3rem;
  width: 200px;
}

.wabe2 {
  background-color: rgba(45, 18, 53, 0.425);
}

.wabe3 {
  background-color: rgba(45, 18, 53, 0.425);
}

.wabe4 {
  background-color: rgba(44, 40, 77, 0.4745098039);
}

.allsoftware {
  background-color: rgba(45, 18, 53, 0.425);
  display: grid;
  grid-template-areas: "img-streamer container-img-soft  " " img-streamer container-soft ";
  grid-template-columns: 1fr 2fr;
}
.allsoftware .img-streamer {
  margin: 2rem;
}
.allsoftware .img-streamer .streamer {
  width: 200px;
  background-color: black;
  border-radius: 50%;
}
.allsoftware .container-prueba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.allsoftware .container-prueba .container-img-soft {
  display: flex;
  justify-content: center;
}
.allsoftware .container-prueba .container-img-soft .soft {
  width: 100px;
  height: auto;
  transition: 1s;
}
.allsoftware .container-prueba .container-img-soft .soft:hover {
  transform: scale(1.5);
}
.allsoftware .container-prueba .container-soft {
  font-size: medium;
  text-align: center;
  margin: 1rem;
}

.allsoftware2 {
  background-color: rgba(44, 40, 77, 0.4745098039);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "container-prueba container-ibai" "container-soft container-ibai";
}
.allsoftware2 .container-prueba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.allsoftware2 .container-prueba .container-img-soft {
  display: flex;
  justify-content: center;
}
.allsoftware2 .container-prueba .container-img-soft .soft {
  width: 100px;
  transition: 1s;
}
.allsoftware2 .container-prueba .container-img-soft .soft:hover {
  transform: scale(1.5);
}
.allsoftware2 .container-prueba .container-soft {
  font-size: medium;
  text-align: center;
  margin: 1rem;
}

.streamer2 {
  width: 200px;
  margin: 2rem;
}

.highlight {
  font-weight: 600;
}

/* Emulador */
.portemu {
  background-color: rgba(0, 0, 0, 0.479);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
}
.portemu .img-port {
  display: flex;
  justify-content: center;
}
.portemu .img-port .img-port-emu {
  width: 10rem;
}
.portemu .text-port {
  display: flex;
  justify-content: center;
}
.portemu .text-port .introemulador {
  text-align: center;
  font-size: medium;
}

.emuladores {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.emuladores .containeremu {
  width: 250px;
}
.emuladores .containeremu .tittleemuladores {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  font-family: "Monomaniac One", sans-serif;
}
.emuladores .containeremu .divemulador {
  display: flex;
  justify-content: center;
}
.emuladores .containeremu .divemulador .imgemuladores {
  width: 100px;
  height: auto;
  margin: 2% 2%;
  transition: 1s;
}
.emuladores .containeremu .divemulador .imgemuladores:hover {
  transform: scale(1.2);
}
.emuladores .containeremu .textemuladores {
  text-align: center;
  margin-top: 2%;
}

/* About US */
.aboutus-1 .aboutus-txt {
  background-image: linear-gradient(95deg, rgba(34, 12, 60, 0.493) 0%, rgba(91, 12, 40, 0.295) 100%), url(../image/portemu.jpg);
  padding-top: 4%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 4%;
  font-size: 1rem;
  text-align: center;
  background-repeat: no-repeat;
}

#aboutus .aboutus-txt2 {
  text-align: center;
  padding: 2rem;
}
#aboutus .div-streaming {
  background-color: rgba(0, 0, 0, 0.712);
  width: 100%;
  height: auto;
  padding: 0.5%;
}
#aboutus .div-streaming .img-streaming {
  width: 100%;
  height: auto;
}

.contact-final {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form-txt" "form-contact";
  margin: 5%;
}
.contact-final .form-txt {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}
.contact-final .form-contact .contact-form {
  max-width: 400px;
  margin: 0 auto;
}
.contact-final .form-contact .contact-form .contact-tittle {
  text-align: center;
  font-size: 2rem;
  font-family: "Monomaniac One", sans-serif;
}
.contact-final .form-contact .contact-form .form-group {
  margin-bottom: 20px;
}
.contact-final .form-contact .contact-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.contact-final .form-contact .contact-form .form-group input,
.contact-final .form-contact .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}
.contact-final .form-contact .contact-form .form-group textarea {
  resize: vertical;
}
.contact-final .form-contact .contact-form button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-final .form-contact .contact-form button[type=submit]:hover {
  background-color: #555;
}

/* Media Query */
/* Celulares */
@media (max-width: 480px) {
  body {
    background-color: #1e172b;
  }
  #port-soft {
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  #port-soft .img-webcam {
    display: none;
  }
  .allsoftware {
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .allsoftware .img-streamer {
    display: none;
  }
  .allsoftware .img-streamer .streamer {
    display: none;
  }
  .allsoftware .container-prueba {
    padding: 0%;
    margin: 0%;
  }
  .allsoftware .container-prueba .container-img-soft .soft {
    margin-top: 1rem;
  }
  .allsoftware2 {
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  .allsoftware2 .container-ibai .streamer2 {
    display: none;
  }
  .allsoftware2 .container-prueba {
    padding: 0%;
    margin: 0%;
  }
  .allsoftware2 .container-prueba .container-img-soft .soft {
    margin-top: 1rem;
  }
  .portemu {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portemu .img-port {
    display: none;
  }
}
/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #1e172b;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
  }
  .containerport .imgportada {
    width: 100%;
    height: auto;
  }
  .visnov1 {
    display: grid;
    grid-template-areas: "div-imgnov div-pnov";
    justify-items: center;
    align-items: center;
  }
  .visnov1 .div-imgnov {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .visnov1 .div-imgnov .imgnovedades {
    width: 400px;
    height: auto;
  }
  .visnov1 .div-pnov .txt {
    text-align: justify;
  }
  .visnov2 {
    display: grid;
    grid-template-areas: "reverse div-imgnov";
    justify-items: center;
    align-items: center;
  }
  .visnov2 .div-imgnov {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .visnov2 .div-imgnov .imgnovedades {
    width: 400px;
    height: auto;
  }
  .visnov2 .div-pnov .txt {
    text-align: justify;
  }
  .visnov2 .reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  #catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    padding-bottom: 10%;
  }
  .emuladores {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  body {
    background-color: #1e172b;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  .containerport .imgportada {
    width: 100%;
    height: auto;
  }
  .visnov1 {
    display: grid;
    grid-template-areas: "div-imgnov div-pnov";
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    gap: 1rem;
  }
  .visnov1 .div-imgnov {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .visnov1 .div-imgnov .imgnovedades {
    width: 100%;
    height: auto;
  }
  .visnov1 .div-pnov .txt {
    padding: 0rem 0rem 0rem 0rem;
    text-align: justify;
  }
  .visnov2 {
    display: grid;
    grid-template-areas: "reverse div-imgnov";
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    gap: 1rem;
  }
  .visnov2 .reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .visnov2 .div-imgnov {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .visnov2 .div-imgnov .imgnovedades {
    width: 100%;
    height: auto;
  }
  .visnov2 .div-pnov .txt {
    padding: 0rem 0rem 0rem 0rem;
    text-align: justify;
  }
  #catalogo {
    background-color: #1b102c;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    justify-items: center;
    color: white;
  }
  .gametitle {
    font-family: "Monomaniac One", sans-serif;
    font-size: xx-large;
    text-align: start;
    padding: 0%;
    margin: 1% 2.5%;
  }
  #contentgame {
    display: grid;
    gap: 2%;
    margin: 1% 2%;
    grid-template-areas: "imagegame infogame " "container-req extracontent";
  }
  #contentgame .container-img {
    margin: 1% 2%;
  }
  #contentgame .container-img .imagegame {
    width: 400px;
    height: auto;
  }
  #contentgame .imagegame {
    width: 400px;
    height: auto;
  }
  #contentgame .infogame {
    text-align: justify;
    font-size: large;
    margin: 1rem 0rem;
  }
  #contentgame .infogame3 .infogame {
    text-align: justify;
    font-size: large;
    margin: 1rem 0rem;
  }
  #contentgame .container-req {
    width: 400px;
  }
  #contentgame .container-req .tecnicfix {
    font-size: x-large;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 100;
  }
  #contentgame .container-req .li-req {
    margin: 1% 2%;
  }
  .extracontent {
    text-align: justify;
    font-size: large;
    margin: 0%;
  }
  .extracontent .description {
    font-size: x-large;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 100;
    text-align: start;
  }
  .extracontent .infogame2 {
    margin: 1rem 0rem;
    text-align: justify;
    font-size: large;
  }
  .trailer {
    display: flex;
    justify-content: center;
    margin: 2%;
    font-family: "Monomaniac One", sans-serif;
    font-size: xx-large;
  }
  iframe {
    height: 500px;
    width: 800px;
  }
  .iframe {
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  #port-soft {
    display: grid;
    grid-template-areas: "port-text-soft img-webcam";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  #port-soft .port-text-soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #port-soft .port-text-soft .button-portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #593194;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  #port-soft .port-text-soft .button-portada:hover {
    background-color: #472776;
  }
  #port-soft .port-text-soft .textsoftware {
    text-align: center;
    font-size: 2rem;
    margin: 5%;
  }
  #port-soft .img-webcam {
    padding-bottom: 10%;
  }
  #port-soft .img-webcam .webcam {
    width: auto;
    height: auto;
  }
  .allsoftware {
    background-color: rgba(45, 18, 53, 0.425);
    display: grid;
    grid-template-areas: "img-streamer container-img-soft  " " img-streamer container-soft ";
    grid-template-columns: 1fr 2fr;
  }
  .allsoftware .img-streamer {
    padding-left: 10%;
  }
  .allsoftware .img-streamer .streamer {
    width: 500px;
    background-color: black;
    border-radius: 50%;
  }
  .allsoftware .container-prueba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
  }
  .allsoftware .container-prueba .container-img-soft {
    display: flex;
    justify-content: center;
  }
  .allsoftware .container-prueba .container-img-soft .soft {
    width: 150px;
    margin-bottom: 20%;
  }
  .allsoftware .container-prueba .container-soft {
    font-size: xx-large;
    text-align: center;
  }
  .allsoftware2 {
    background-color: rgba(44, 40, 77, 0.4745098039);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "container-prueba container-ibai" "container-soft container-ibai";
  }
  .allsoftware2 .container-prueba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
  }
  .allsoftware2 .container-prueba .container-img-soft {
    display: flex;
    justify-content: center;
  }
  .allsoftware2 .container-prueba .container-img-soft .soft {
    width: 150px;
    margin-bottom: 20%;
  }
  .allsoftware2 .container-prueba .container-soft {
    font-size: xx-large;
    text-align: center;
  }
  .allsoftware2 .container-ibai .streamer2 {
    width: 500px;
  }
  .portemu {
    background-color: rgba(0, 0, 0, 0.479);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .portemu .img-port {
    display: flex;
    justify-content: center;
  }
  .portemu .img-port .img-port-emu {
    width: 50%;
  }
  .portemu .text-port {
    display: flex;
    justify-content: center;
  }
  .portemu .text-port .introemulador {
    text-align: center;
    font-size: xx-large;
    padding-right: 10%;
  }
  .emuladores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .emuladores .containeremu {
    width: 250px;
  }
  .emuladores .containeremu .tittleemuladores {
    font-family: "Monomaniac One", sans-serif;
    font-size: x-large;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  .emuladores .containeremu .divemulador {
    display: flex;
    justify-content: center;
  }
  .emuladores .containeremu .divemulador .imgemuladores {
    width: 100px;
    height: auto;
    margin: 2% 2%;
  }
  .emuladores .containeremu .textemuladores {
    text-align: center;
    margin-top: 2%;
  }
  .aboutus-1 .aboutus-txt {
    background-image: linear-gradient(95deg, rgba(34, 12, 60, 0.726) 0%, rgba(91, 12, 40, 0.521) 100%), url(../image/portemu.jpg);
    margin-top: -3%;
    padding-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 4%;
    font-size: 40px;
    text-align: center;
    background-repeat: no-repeat;
  }
  #aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aboutus-txt2 img-streaming";
  }
  #aboutus .aboutus-txt2 {
    background-color: rgba(15, 11, 32, 0.705);
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: xx-large;
    padding-left: 4%;
    padding-right: 4%;
  }
  #aboutus .div-streaming {
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: auto;
    padding: 0.5%;
  }
  #aboutus .div-streaming .img-streaming {
    width: 100%;
    height: auto;
  }
  .contact-final {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form-txt form-contact";
    margin: 5%;
  }
  .contact-final .form-txt {
    text-align: center;
    font-size: x-large;
  }
  .contact-final .form-contact .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  .contact-final .form-contact .contact-form .contact-tittle {
    font-family: "Monomaniac One", sans-serif;
    text-align: center;
  }
  .contact-final .form-contact .contact-form .form-group {
    margin-bottom: 20px;
  }
  .contact-final .form-contact .contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .contact-final .form-contact .contact-form .form-group input,
  .contact-final .form-contact .contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
  }
  .contact-final .form-contact .contact-form .form-group textarea {
    resize: vertical;
  }
  .contact-final .form-contact .contact-form button[type=submit] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact-final .form-contact .contact-form button[type=submit]:hover {
    background-color: #555;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #1e172b;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  .containerport .imgportada {
    width: 100%;
    height: auto;
  }
  .visnov1 {
    display: grid;
    grid-template-areas: "div-imgnov div-pnov";
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    gap: 1rem;
  }
  .visnov1 .div-imgnov {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .visnov1 .div-imgnov .imgnovedades {
    width: 100%;
    height: auto;
  }
  .visnov1 .div-pnov .txt {
    padding: 0rem 0rem 0rem 0rem;
    text-align: center;
  }
  .visnov2 {
    display: grid;
    grid-template-areas: "reverse div-imgnov";
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    gap: 1rem;
  }
  .visnov2 .reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .visnov2 .div-imgnov {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .visnov2 .div-imgnov .imgnovedades {
    width: 100%;
    height: auto;
  }
  .visnov2 .div-pnov .txt {
    padding: 0rem 0rem 0rem 0rem;
    text-align: center;
  }
  #catalogo {
    background-color: #1b102c;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
    justify-items: center;
    color: white;
  }
  .gametitle {
    font-family: "Monomaniac One", sans-serif;
    font-size: xx-large;
    text-align: start;
    padding: 0%;
    margin: 1% 2%;
  }
  #contentgame {
    display: grid;
    gap: 2%;
    margin: 1% 2.5%;
    grid-template-areas: "imagegame infogame " "container-req extracontent";
  }
  #contentgame .container-img {
    margin: 1% 2%;
  }
  #contentgame .container-img .imagegame {
    width: 400px;
    height: auto;
  }
  #contentgame .imagegame {
    width: 400px;
    height: auto;
  }
  #contentgame .infogame {
    text-align: justify;
    font-size: large;
    margin: 1rem 0rem;
  }
  #contentgame .infogame3 .infogame {
    text-align: justify;
    font-size: large;
    margin: 1rem 0rem;
  }
  #contentgame .container-req {
    width: 400px;
  }
  #contentgame .container-req .tecnicfix {
    font-size: x-large;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 100;
    margin: 3% 2%;
  }
  #contentgame .container-req .li-req {
    margin: 1% 2%;
  }
  .extracontent {
    text-align: justify;
    font-size: large;
    margin: 0%;
  }
  .extracontent .description {
    font-size: x-large;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 100;
    text-align: start;
  }
  .extracontent .infogame2 {
    margin: 1rem 0rem;
    text-align: justify;
    font-size: large;
  }
  .trailer {
    display: flex;
    justify-content: center;
    margin: 2%;
    font-family: "Monomaniac One", sans-serif;
    font-size: xx-large;
  }
  iframe {
    height: 500px;
    width: 800px;
  }
  .iframe {
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  #port-soft {
    display: grid;
    grid-template-areas: "port-text-soft img-webcam";
    grid-template-columns: 1fr 1fr;
  }
  #port-soft .port-text-soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #port-soft .port-text-soft .textsoftware {
    text-align: center;
    font-size: 2rem;
    margin: 5%;
  }
  #port-soft .port-text-soft .button-portada {
    background-color: #593194;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  #port-soft .port-text-soft .button-portada:hover {
    background-color: #472776;
  }
  #port-soft .img-webcam {
    padding-bottom: 10%;
  }
  #port-soft .img-webcam .webcam {
    width: auto;
    height: auto;
  }
  .allsoftware {
    background-color: rgba(45, 18, 53, 0.425);
    display: grid;
    grid-template-areas: "img-streamer container-img-soft  " " img-streamer container-soft ";
    grid-template-columns: 1fr 2fr;
  }
  .allsoftware .img-streamer {
    padding-left: 10%;
  }
  .allsoftware .img-streamer .streamer {
    width: 500px;
    background-color: black;
    border-radius: 50%;
  }
  .allsoftware .container-prueba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
  }
  .allsoftware .container-prueba .container-img-soft {
    display: flex;
    justify-content: center;
  }
  .allsoftware .container-prueba .container-img-soft .soft {
    width: 150px;
    margin-bottom: 20%;
  }
  .allsoftware .container-prueba .container-soft {
    font-size: xx-large;
    text-align: center;
  }
  .allsoftware2 {
    background-color: rgba(44, 40, 77, 0.4745098039);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "container-prueba container-ibai" "container-soft container-ibai";
  }
  .allsoftware2 .container-prueba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
  }
  .allsoftware2 .container-prueba .container-img-soft {
    display: flex;
    justify-content: center;
  }
  .allsoftware2 .container-prueba .container-img-soft .soft {
    width: 150px;
    margin-bottom: 20%;
  }
  .allsoftware2 .container-prueba .container-soft {
    font-size: xx-large;
    text-align: center;
  }
  .allsoftware2 .container-ibai .streamer2 {
    width: 500px;
  }
  .portemu {
    background-color: rgba(0, 0, 0, 0.479);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .portemu .img-port {
    display: flex;
    justify-content: center;
  }
  .portemu .img-port .img-port-emu {
    width: 50%;
  }
  .portemu .text-port {
    display: flex;
    justify-content: center;
  }
  .portemu .text-port .introemulador {
    text-align: center;
    font-size: xx-large;
    padding-right: 10%;
  }
  .emuladores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .emuladores .containeremu {
    width: 250px;
  }
  .emuladores .containeremu .tittleemuladores {
    font-family: "Monomaniac One", sans-serif;
    font-size: x-large;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  .emuladores .containeremu .divemulador {
    display: flex;
    justify-content: center;
  }
  .emuladores .containeremu .divemulador .imgemuladores {
    width: 100px;
    height: auto;
    margin: 2% 2%;
  }
  .emuladores .containeremu .textemuladores {
    text-align: center;
    margin-top: 2%;
  }
  .aboutus-1 .aboutus-txt {
    background-image: linear-gradient(95deg, rgba(34, 12, 60, 0.726) 0%, rgba(91, 12, 40, 0.521) 100%), url(../image/portemu.jpg);
    margin-top: -3%;
    padding-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 4%;
    font-size: 40px;
    text-align: center;
    background-repeat: no-repeat;
  }
  #aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aboutus-txt2 img-streaming";
  }
  #aboutus .aboutus-txt2 {
    background-color: rgba(15, 11, 32, 0.705);
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: xx-large;
    padding-left: 4%;
    padding-right: 4%;
  }
  #aboutus .div-streaming {
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    height: auto;
    padding: 0.5%;
  }
  #aboutus .div-streaming .img-streaming {
    width: 100%;
    height: auto;
  }
  .contact-final {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "form-txt form-contact";
    margin: 5%;
  }
  .contact-final .form-txt {
    text-align: center;
    font-size: x-large;
  }
  .contact-final .form-contact .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  .contact-final .form-contact .contact-form .contact-tittle {
    font-family: "Monomaniac One", sans-serif;
    text-align: center;
  }
  .contact-final .form-contact .contact-form .form-group {
    margin-bottom: 20px;
  }
  .contact-final .form-contact .contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .contact-final .form-contact .contact-form .form-group input,
  .contact-final .form-contact .contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
  }
  .contact-final .form-contact .contact-form .form-group textarea {
    resize: vertical;
  }
  .contact-final .form-contact .contact-form button[type=submit] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact-final .form-contact .contact-form button[type=submit]:hover {
    background-color: #555;
  }
}/*# sourceMappingURL=main.css.map */